[data-role="tabinterface"] {
  margin: 2rem 0 0;
}

[data-role="tabinterface"] > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[role="tablist"]::after {
  display: block;
  clear: both;
  content: '';
}

[role="tablist"] li {
  float: left;
}

[role="tablist"] li + li {
  margin-left: 0.5em;
}

[role="tablist"] + ul {
  padding: 1em calc(2em - 4px);
  border: 2px solid #1b75bc;
  border-radius: 0.4em;
  border-top-left-radius: 0;
}

[role="tab"] {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  border-bottom: 0;
  border-radius: 0.2em 0.2em 0 0;
  color: #1b75bc;
  font-size: inherit;
  background: #fff;
}

[role="tab"]:hover,
[role="tab"]:focus {
  background-color: #f5f5f5;
}

[role="tab"]:focus {
  outline: none;
  border-color: #1b75bc;
}

[role="tab"][aria-selected="true"] {
  color: #fff;
  background: #1b75bc;
}

[role="tab"][aria-selected="true"]:focus {
  /*color: #1b75bc;
  background-color: #f5f5f5;*/
}

[role="tabpanel"] :first-child {
  margin-top: 0;
}